/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

body, h1, h2, h3, h4, h5, h6, pre {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #99A5B8;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
  color: #142240;
}
h1 {
  font-size: 33px;
}
h2 {
  font-size: 18px;
  font-weight: 700;
}
pre {
  border: 0;
  background-color: #F6F7FC;
  padding: 20px;
}

#footer-container {
  border-top: 1px solid #979797;
  padding-top: 25px;
  padding-bottom: 90px;
}
article {
  margin-top: 70px;
  margin-bottom: 70px;
}
img {
  max-width: 100%;
}
@media (max-width: 767px) {
  #footer-container {
    padding-bottom: 0;
  }
  article {
    margin-top: 40px;
  }
}

/* Navigation bar */
.navbar {
  background-color: #f5f8fc;
  box-shadow: 0 4px 4px rgba(0,0,0,0.15);
}
.navbar-header a {
  color: #142240;
  font-weight: 700;
}
.navbar-header .icon-bar {
  background-color: #142240;
}
.navbar-nav a {
  color: #99A5B8;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
  color: #142240;
}
@media (min-width: 768px) {
  .navbar-nav.navbar-right>li>a {
    padding: 6px 20px;
    border: 1px solid #99A5B8;
    border-radius: 20px;
    margin: 8px 0;
  }
  .navbar-nav.navbar-right>li>a:hover, .navbar-nav.navbar-right>li>a:focus {
    border: 1px solid #142240;
  }
}
#prismic-releases {
  background-color: black;
  color: white;
  padding: 5px 0;
}

/* All page titles in the website */
.page-title {
  background: -webkit-linear-gradient(left, #1caed1 , #4c74c9);
  background: -o-linear-gradient(right, #1caed1, #4c74c9);
  background: -moz-linear-gradient(right, #1caed1, #4c74c9);
  background: linear-gradient(to right, #1caed1, #4c74c9);
  color: #DAF5F5;
  font-size: 16px;
}
.page-title h1 {
  color: white;
  font-weight: 100;
  font-size: 50px;
  margin: 55px 0;
}
.page-title.has-lede h1 {
  margin-bottom: 0;
}
.page-title.has-lede p {
  margin: 5px 0 55px;
}
@media (max-width: 767px) {
  .page-title h1 {
    font-size: 30px;
    margin: 30px 0;
  }
  .page-title.has-lede p {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

/* Homepage */
#homepage .page-title h1 {
  margin: 100px 0 30px;
  line-height: 1.3em;
}
#homepage .ctas a {
  display: block;
  text-align: center;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 14px 0;
  font-size: 18px;
  font-weight: 700;
}
#homepage .ctas a:hover {
  text-decoration: none;
}
#homepage .ctas .primary a {
  color: #36B0CC;
  background-color: white;
}
#homepage .page-title p {
  margin-bottom: 0;
}
#homepage .ctas {
  margin-top: 60px;
  margin-bottom: 145px;
}
@media (max-width: 767px) {
  #homepage .page-title h1 {
    margin-top: 50px;
    line-height: 1.1em;
  }
  #homepage .page-title p {
    font-size: 14px;
  }
  #homepage .ctas a {
    border-radius: 5px;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  #homepage .ctas {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
#homepage #arguments {
  margin-bottom: 80px;
}
#homepage #arguments .argument-image {
  padding: 27px;
  border: 1px solid #28B3D0;
  border-radius: 46px;
  float: left;
  margin-bottom: 34px;
}
#homepage #arguments .argument-image img {
  width: 36px;
  height: 36px;
}
#homepage #arguments h3 {
  clear: left;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
#homepage #arguments .argument {
  margin-top: 75px;
}
#homepage #references {
  text-align: center;
  margin-bottom: 50px;
}
#homepage #references img {
  margin: 40px 40px 0;
}
@media (max-width: 767px) {
  #homepage #arguments {
    margin-bottom: 30px;
  }
  #homepage #arguments .argument {
    margin-top: 40px;
  }
  #homepage #arguments .argument-image {
    margin-bottom: 15px;
  }
}

/* Documentation */

#documentation .left-nav {
  margin-top: 70px;
  margin-bottom: 70px;
}
#documentation #docsearch {
  border: 1px solid #d1d2d6;
  padding: 5px 20px;
  border-radius: 25px;
}
#documentation #docsearch input {
  display: block;
  padding:0;
  margin: 0;
  border:0;
  max-width: 100%;
}
#documentation #docnav h2 a {
  color: #536FC5;
}
#documentation #docnav ul {
  padding: 0 20px;
}
#documentation #docnav ul a {
  color: #99A5B8;
}
#documentation article h2 {
  border-top: 1px solid #979797;
  margin-top: 30px;
  padding-top: 20px;
}
@media (max-width: 767px) {
  #documentation .left-nav { margin-top: 10px; }
}

/* Get involved */
#getinvolved #contributors_title {
  margin-top: 35px;
  padding-top: 35px;
  border-top: 1px solid #979797;
}
#getinvolved .contributor {
  text-align: center;
  border-radius: 5px;
  background-color: #F6F7FC;
  padding: 35px 10px;
  margin-top: 35px;
}
#getinvolved .contributor h4 {
  color: #536FC5;
  font-weight: 700;
  margin-bottom: 0;
}
#getinvolved .contributor p.title {
  color: #A9AEC7;
  font-size: 12px;
}
#getinvolved .contributor p.image img {
  border-radius: 50px;
}
#getinvolved .contributor ul {
  text-align: left;
  margin-top: 20px;
}

/* Download */
#download #assets {
  margin-top: 10px;
}
#download #assets a {
  margin-top: 20px;
  display: block;
  color: white;
  border-radius: 5px;
  background: #2c91cf;
  background: -webkit-linear-gradient(left, #1f9dd1 , #2c91cf);
  background: -o-linear-gradient(right, #1f9dd1, #2c91cf);
  background: -moz-linear-gradient(right, #1f9dd1, #2c91cf);
  background: linear-gradient(to right, #1f9dd1, #2c91cf);
  text-align: center;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 700;
}

/* GitHub embed layout */
[data-oembed-type='link'][data-oembed-provider='object']{ padding:10px;position:relative; margin: 30px 0; overflow:hidden; }
[data-oembed-type='link'][data-oembed-provider='object'] h1{ position:absolute; top:16px; left:80px; white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; font-size: 1.2em; margin:0;}
[data-oembed-type='link'][data-oembed-provider='object'] img{ border:none; padding:0; margin:0; width:60px }
[data-oembed-type='link'][data-oembed-provider='object'] p{ position:absolute; top:36px; left:80px; white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis}
[data-oembed-type='link'][data-oembed-provider='object']:hover{-webkit-box-shadow:0 0 5px rgba(56,60,70,0.24);box-shadow:0 0 5px rgba(56,60,70,0.24)}
/* GitHub embed style */
[data-oembed-type='link'][data-oembed-provider='object']{ background-color: #F6F7FC; border-radius: 5px; }
[data-oembed-type='link'][data-oembed-provider='object'] h1 { color: #536FC5; font-weight: 700; }
[data-oembed-type='link'][data-oembed-provider='object'] img{ border-radius:30px }
[data-oembed-type='link'][data-oembed-provider='object'] p { color: #99A5B8; }
