/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.page-title {
	margin-top: 50px;
	margin-bottom: 80px;
}

/* Homepage */
@media (min-width: 992px) {
	main#homepage .jumbotron h1 {
		padding-right: 100px;
	}
}
@media (min-width: 1200px) {
	main#homepage .jumbotron h1 {
		padding-right: 300px;
	}
}
main#homepage #arguments {
	margin-top: 100px;
}
main#homepage .argument-image {
	text-align: center;
}
@media (max-width: 991px) and (min-width: 500px) {
	main#homepage .argument-image {
		float:left;
		clear:left;
		margin-right: 20px;
	}
}
main#homepage #references {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 30px;
}
main#homepage #references img {
	margin: 0 20px;
}

/* GitHub embed */

[data-oembed-type='link'][data-oembed-provider='object']{border:1px solid #c4c8ca;padding:10px;-webkit-border-radius:3px;border-radius:3px;position:relative; margin: 30px 50px 50px; overflow:hidden;}
[data-oembed-type='link'][data-oembed-provider='object'] h1{ position:absolute; top:16px; left:80px; white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; font-size: 1.2em; margin:0;}
[data-oembed-type='link'][data-oembed-provider='object'] img{ border:none; padding:0; margin:0; width:60px }
[data-oembed-type='link'][data-oembed-provider='object'] p{ position:absolute; top:36px; left:80px; white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis}
[data-oembed-type='link'][data-oembed-provider='object']:hover{-webkit-box-shadow:0 0 5px rgba(56,60,70,0.24);box-shadow:0 0 5px rgba(56,60,70,0.24)}


/* Download */

main#download article {
	margin-bottom: 100px;
}

main#download .download-button:first-child {
	margin-top: 20px;
}
main#download .download-button {
	margin-top: 10px;
}

/* Documentation */

main#documentation #docnav {
	margin-top: 50px;
}
main#documentation section {
	padding-top: 30px;
	margin-bottom: 60px;
	border-top: 1px solid #eee;
}
main#documentation ul#searchresult li {
	font-size: 1.1em;
	margin-bottom: 10px;
}
main#documentation ul#searchresult,
main#documentation #newsearch {
	margin-bottom: 50px;
}
main#documentation #doc-search {
	margin-top: 20px;
}

/* Get involved */

main#getinvolved #contributors {
	margin-top: 50px;
	padding: 10px 20px;
	border: 1px solid #e7e7e7;
	background: #f8f8f8;
	border-radius: 10px;
}
main#getinvolved #contributors .contributor {
	margin-top: 40px;
}
main#getinvolved #contributors h3 {
	margin: 15px 0;
}
main#getinvolved #contributors h4 {
	margin: 0;
	text-align: center;
}
main#getinvolved #contributors .image {
	text-align: center;
}
main#getinvolved #contributors .title {
	margin: 0;
	font-style: italic;
	text-align: center;
}
main#getinvolved #contributors .description {
	margin: 10px 0;
}