<form id="docsearch" action="<%= doc_search_path %>">
	<input type="text" name="q" placeholder="Search in the doc" value="<%= params[:q] %>">
	<% if maybe_ref %>
		<input type="hidden" name="ref" value="<%= maybe_ref %>">
	<% end %>
</form>
