<div id="docnav">
	<% @docchapters.each do |docchapter| %>
		<h2><%= link_to docchapter.first_title, link_resolver(maybe_ref).link_to(docchapter) %></h2>
		<% if @document && @docs && docchapter.id == @document.id && !@docs.empty? %>
			<ul>
				<% @docs.each do |doc| %>
					<li>
						<%= link_to doc.first_title, "##{doc.id}" %>
					</li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
</div>
